* {
 --bg: #262526;        /* Цвет фона */
 --fg: #e8e8e8;        /* Цвет текста */
 --fnt: #d5a5cc;       /* Цвет шрифта */
 --fnt2: #c5d5fc;      /* Цвет второго шрифта */
 --fnt3: #b0b0b0;      /* Цвет третьего шрифта (если требуется) */
 --col1: #ff5733;      /* Цвет 1 */
 --col2: #33c9ff;      /* Цвет 2 */
 --col3: #f1c40f;      /* Цвет 3 */
 --col4: #2ecc71;      /* Цвет 4 */
 --col5: #e74c3c;      /* Цвет 5 */
 --col6: #8e44ad;      /* Цвет 6 */
 --col7: #3498db;      /* Цвет 7 */
 --col9: #9b59b6;      /* Цвет 9 */
 --col10: #1abc9c;     /* Цвет 10 */
 --col11: #16a085;     /* Цвет 11 */
 --col12: #f39c12;     /* Цвет 12 */
 --col13: #d35400;     /* Цвет 13 */
 --col14: #2c3e50;     /* Цвет 14 */
 --col15: #7f8c8d;     /* Цвет 15 */
 --col16: #34495e;     /* Цвет 16 */
}
