@import url('../../.cache/wal/colors-waybar.css');
* {min-height:0;font-family: "Symbols Nerd Font, SF Mono";}
window#waybar { background:transparent; /* background: alpha(@background,.3); border: solid @color12 2px; border-radius: 40; */}
/* Workspace Buttons*/
    #workspaces button {transition: all .3s ease;color:@color7;background:alpha(@background,0.7);padding:0px 6px;margin:6px;border:solid 2.5px @color5;border-radius:12px;font-size:14px;}
    #workspaces button:hover{color:@color5;background:alpha(@color2,0.7);padding:0px 6px;margin:6px;border:solid 2.5px @color5;border-radius:12px;}
    #workspaces button.active{color:@color7;background:alpha(@color12,0.7);padding:0px 6px;margin:6px;border:solid 2.5px @color5;border-radius:12px;}
/* Modules */
    #window{border-radius:12px;border:solid 2.5px @color2;color:@color2;font-size:14px;margin:4px 4px;padding:10px;transition:all .2s ease;background:alpha(@background,0.75);}
    #custom-weather{border-radius:12px;border:solid 2.5px @color2;color:@color2;font-size:14px;margin:4px 4px;padding:10px;transition:all .2s ease;background:alpha(@background,0.75);}
    #custom-swaync{border-radius:12px;border:solid 2.5px @color2;color:@color2;font-size:14px;margin:4px 4px;padding:10px;transition:all .2s ease;background:alpha(@background,0.75);}
    #language{border-radius:12px;border:solid 2.5px @color2;color:@color2;font-size:14px;margin:4px 4px;padding:10px;transition:all .2s ease;background:alpha(@background,0.75);}
    #custom-microphone{border-radius:12px;border:solid 2.5px @color2;color:@color2;font-size:14px;margin:4px 4px;padding:10px;transition:all .2s ease;background:alpha(@background,0.75);}
    #clock{border-radius:12px;border:solid 2.5px @color2;color:@color2;font-size:14px;margin:4px 4px;padding:10px;transition:all .2s ease;background:alpha(@background,0.75);}
    #pulseaudio{border-radius:12px;border:solid 2.5px @color2;color:@color2;font-size:14px;margin:4px 4px;padding:10px;transition:all .2s ease;background:alpha(@background,0.75);}
    #network{border-radius:12px;border:solid 2.5px @color2;color:@color2;font-size:14px;margin:4px 4px;padding:10px;transition:all .2s ease;background:alpha(@background,0.75);}
    #memory{border-radius:12px;border:solid 2.5px @color2;color:@color2;font-size:14px;margin:4px 4px;padding:10px;transition:all .2s ease;background:alpha(@background,0.75);}
    #tray{border-radius:12px;border:solid 2.5px @color2;color:@color2;font-size:14px;margin:4px 4px;padding:10px;transition:all .2s ease;background:alpha(@background,0.75);}
    #temperature{border-radius:12px;border:solid 2.5px @color2;color:@color2;font-size:14px;margin:4px 4px;padding:10px;background:alpha(@background,0.75);}
    #cpu{border-radius:12px;border:solid 2.5px @color2;color:@color2;font-size:14px;margin:4px 4px;padding:10px;transition:all .2s ease;background:alpha(@background,0.75);}
    #custom-music {border-radius:12px;border:solid 2.5px @color2;font-size:14px;color:@color2;background:alpha(@background,.65);margin:4px 4px;padding:10px;transition:all .2s ease;}
/* Modules Hover */
    #window:hover{border:solid 2.5px @color5;color:@color5;background:alpha(@color2,.7);}
    #custom-weather:hover{border:solid 2.5px @color5;color:@color5;background:alpha(@color2,.7);}
    #custom-kernel:hover{border:solid 2.5px @color5;color:@color5;background:alpha(@color2,.7);}
    #custom-swaync:hover{border:solid 2.5px @color5;color:@color5;background:alpha(@color2,.7);}
    #language:hover{border:solid 2.5px @color5;color:@color5;background:alpha(@color2,.7);}
    #custom-microphone:hover{border:solid 2.5px @color5;color:@color5;background:alpha(@color2,.7);}
    #clock:hover{border:solid 2.5px @color5;color:@color5;background:alpha(@color2,.7);}
    #pulseaudio:hover{border:solid 2.5px @color5;color:@color5;background:alpha(@color2,.7);}
    #network:hover{border:solid 2.5px @color5;color:@color5;background:alpha(@color2,.7);}
    #memory:hover{border:solid 2.5px @color5;color:@color5;background:alpha(@color2,.7);}
    #tray:hover{border:solid 2.5px @color5;color:@color5;background:alpha(@color2,.7);}
    #temperature:hover{border:solid 2.5px @color5;color:@color5;background:alpha(@color2,.7);}
    #cpu:hover{border:solid 2.5px @color5;color:@color5;background:alpha(@color2,.7);}
    #custom-music:hover{border:solid 2.5px @color5;color:@color5;background:alpha(@color2,.7);font-size:14px;}
/* Battery */
    #battery{border-radius:12px;border:solid 2.5px @color2;margin:4px 4px;padding:10px;color:@color2;transition:all .3s ease;background:alpha(@background,.7);}
    #battery:hover{border:solid 2.5px @color5;color:@color5;background:alpha(@color2,.7);}
/* Battery Text */
    #battery.charging {color: #26A65B;}
    #battery.warning:not(.charging) {color:#fac519;}
    #battery.critical:not(.charging) {color:#f53c3c;animation-name:blink;animation-duration:0.5s;animation-timing-function:linear;animation-iteration-count:infinite;animation-direction:alternate;}