@import url('../../../.cache/wal/colors-waybar.css');
* {min-height:0;font-family:"Symbols Nerd Font, SF Mono";}
window#waybar {
    background-color:alpha(white,0.3);
    border-radius:8.5px;
    text-shadow:inherit; /* FIX FUCKING gtk.css TEXT BUG */
}
/* Workspace Buttons*/
#workspaces button {
    color:alpha(@background,0.8);
    text-shadow:inherit; /* FIX FUCKING gtk.css TEXT BUG */
    outline:inherit;border:inherit;background:inherit;
    box-shadow:inset 0 0 4px transparent;
    transition:all 0.4s ease;
    font-size:14px;
    font-weight:normal;
}

#workspaces button:hover {
    color:@color2;
    /* background: alpha(@color2, 0.5); */
    border: none;
    box-shadow:inset 0 0 4px @color2;
    outline: none;
    border-radius: 8px;
}

#workspaces button.active {
    color: @color2;
    border: none;
    box-shadow:inset 0 0 6.5px @color2;
    border-radius: 8px;
    font-weight: normal; /* Для консистентности */
}

#custom-logo{
    font-size:21px;color:alpha(@background,0.8);
    padding:0px 2px 0px 12px;
    border:none;outline:none;text-shadow:inherit;transition:all 0.4s ease;
}

#custom-weather{
    font-size:14px;color:@foreground;
    padding:0px 4px 0px 0px;
    border:none;outline:none;text-shadow:inherit;transition:all 0.4s ease;
}

#cpu{
    font-size:14px;color:@foreground;
    padding:0px 6px 0px 6px;
    border:none;outline:none;text-shadow:inherit;transition:all 0.4s ease;
}

#temperature{
    font-size:14px;color:@foreground;
    padding:0px 6px 0px 6px;
    border:none;outline:none;text-shadow:inherit;transition:all 0.4s ease;
}

#memory{
    font-size:14px;color:@foreground;
    padding:0px 6px 0px 6px;
    border:none;outline:none;text-shadow:inherit;transition:all 0.4s ease;
}

#network{
    font-size:14px;color:@foreground;
    padding:0px 6px 0px 6px;
    border:none;outline:none;text-shadow:inherit;transition:all 0.4s ease;
}

#custom-swaync{
    font-size:14px;color:@foreground;
    padding:0px 6px 0px 6px;
    border:none;outline:none;text-shadow:inherit;transition:all 0.4s ease;
}

#tray{
    font-size:14px;color:@foreground;
    padding:0px 6px 0px 6px;
    border:none;outline:none;text-shadow:inherit;transition:all 0.4s ease;
}

#pulseaudio{
    font-size:14px;color:@foreground;
    padding:0px 6px 0px 6px;
    border:none;outline:none;text-shadow:inherit;transition:all 0.4s ease;
}

#custom-microphone{
    font-size:14px;color:@foreground;
    padding:0px 6px 0px 6px;
    border:none;outline:none;text-shadow:inherit;transition:all 0.4s ease;
}

#language{
    font-size:14px;color:alpha(@background,0.8);
    padding:0px 6px 0px 6px;
    border:none;outline:none;text-shadow:inherit;transition:all 0.4s ease;
}

#clock{
    font-size:14px;color:@foreground;
    padding:0px 6px 0px 6px;
    border:none;outline:none;text-shadow:inherit;transition:all 0.4s ease;
}

#custom-music{
    font-size:16px;color:@foreground;
    padding:0px 6px 0px 6px;
    border:none;outline:none;text-shadow:inherit;transition:all 0.4s ease;
}

#battery {font-size:14px;color:#dddddd;border:none;outline:none;}
#battery.charging {color:#9dff00;border:none;outline:none;}
#battery.critical {color:#e20000;border:none;outline:none;}
#battery.full {color:#007ce2;border:none;outline:none;}

#custom-separator{color:@foreground;font-size:21px;border:none;outline:none;}

#custom-logo:hover,
#custom-weather:hover,
#cpu:hover,
#temperature:hover,
#memory:hover,
#network:hover,
#custom-swaync:hover,
#tray:hover,
#pulseaudio:hover,
#custom-microphone:hover,
#language:hover,
#clock:hover,
#custom-music:hover{
    color:@color3;
}
#group-media{padding:4px;transition:all 0.3s ease-in-out;} 
#custom-media-group-icon{font-size:21;color:@color2;padding:0px 12px 0 12px;}#custom-media-group-icon:hover{color:@color4;}
#drawer-child { transition: all 0.3s ease-in-out;}
#group-media:hover, #custom-test,#custom-playerctl {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
#custom-test{
    color: @color2;
}
#custom-playerctl-play,#custom-playerctl-prev,#custom-playerctl-next{
    color:@color2;
    font-size:16px;
    margin: 4px;
    transition: all 0.3s ease-in-out;
}

#custom-playerctl-play:hover,#custom-playerctl-prev:hover,#custom-playerctl-next:hover{
        color:@color14;
}
